<app-menu></app-menu>

<!-- Past Conferences -->
<div class="p-4 m-3 home border-round w-full h-full back shadow-7">

    <h1>Past Conferences</h1>
    <div *ngIf="pastConferences$ | async as pastConferences; else pastLoading" class="flex flex-row flex-wrap gap-5">
        <ng-container *ngIf="pastConferences.length > 0">
          <div class="flex justify-content-center align-items-center flex-wrap gap-5">
            <div *ngFor="let item of pastConferences; let i = index" class="shadow-4 custom-card">
                <p-card class="custom-card w-fit h-fit" class="cards">
                    <ng-template pTemplate="title">
                        <strong>{{ item.name }}</strong>
                    </ng-template>
                    <ng-template pTemplate="subtitle">
                        <p>Location: {{ item.location }}</p>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>Date: {{ item.date }}</p>
                    </ng-template>
                </p-card>
            </div>
          <button pButton pRipple type="button" icon=" pi pi-arrow-right" class="p-button-rounded p-button-outlined"></button>
          </div>
        </ng-container>

        <ng-container *ngIf="pastConferences.length === 0">
            <p class="text-red-600">No past conferences available.</p>
        </ng-container>
    </div>
    <ng-template #pastLoading>
        <div class="newtons-cradle">
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
        </div>
    </ng-template>

    <p-divider></p-divider>
    <!-- Future Conferences -->
    <h1>Future Conferences</h1>
    <div *ngIf="futureConferences$ | async as futureConferences; else futureLoading"
         class="flex flex-row flex-wrap gap-5">
      <div class="flex justify-content-center align-items-center flex-wrap gap-5">
        <ng-container *ngIf="futureConferences.length > 0">
            <div *ngFor="let item of futureConferences; let i = index" class="shadow-4">
                <p-card [ngStyle]="{ 'background-color': '#abc9fb' }" class="cards">
                    <ng-template pTemplate="title">
                        <strong>{{ item.name }}</strong>
                      <button pButton pRipple type="button" icon=" pi pi pi-flag-fill" class="p-button-rounded p-button-outlined"></button>
                    </ng-template>
                    <ng-template pTemplate="subtitle">
                        <p>Location: {{ item.location }}</p>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>Date: {{ item.date }}</p>
                    </ng-template>
                </p-card>
            </div>
        </ng-container>
        <button pButton pRipple type="button" icon=" pi pi-arrow-right" class="p-button-rounded p-button-outlined"></button>
    </div>

        <ng-container *ngIf="futureConferences.length === 0">
            <p class="text-red-600">No future conferences available.</p>
        </ng-container>
    </div>
    <ng-template #futureLoading>
        <div class="newtons-cradle">
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
            <div class="newtons-cradle__dot"></div>
        </div>
    </ng-template>
</div>
