<app-menu-admin></app-menu-admin>
<p-toast></p-toast>
<div class="flex justify-content-center align-items-center">
  <div class="card-container m-3 border-round back shadow-7 p-5">
    <!-- Left Side: User Form Container -->
    <div class="left-container p-7">
      <h3>Create User</h3>
        <form [formGroup]="userForm" (ngSubmit)="createUser()">
          <div class="p-fluid">
            <div class="p-field">
              <label for="email">Email</label>
              <input id="email" type="email" pInputText formControlName="email" />
            </div>
            <div class="p-field">
              <label for="userName">User Name</label>
              <input id="userName" type="text" pInputText formControlName="userName" />
            </div>
            <div class="p-field">
              <label for="department">Department</label>
              <p-dropdown [options]="departments" id="department" formControlName="department"></p-dropdown>
            </div>
            <div class="p-field">
              <label for="password">Password</label>
              <input id="password" type="password" pInputText formControlName="password" />
            </div>
            <div class="p-field">
              <label for="confirmPassword">Confirm Password</label>
              <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" />
            </div>
            <div class="p-field m-3">
            <button pButton type="submit" label="Create"></button>
            </div>
          </div>
        </form>
    </div>
    <p-divider align="left" layout="vertical"></p-divider>
    <div class="right-container p-7">
      <h3>Create Department</h3>
        <form [formGroup]="departmentForm" (ngSubmit)="createDepartment()">
          <div class="p-fluid">
            <div class="p-field">
              <label for="departmentName">Department Name</label>
              <input id="departmentName" type="text" pInputText formControlName="departmentName" />
            </div>
            <div class="p-field m-3">
            <button pButton type="submit" label="Create"></button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

